<script src="../../../bower_components/lodash.js"></script>
<style>
    /* Put your css in here */

    table {
        margin: .5em 0 1em;
    }

    table th {
        text-align: left;
        border: 1px solid #d1d1d1;
        padding: .4em .8em;
        font-weight: bold;
    }

    table td {
        background-color: #fff;
        border: 1px solid #d1d1d1;
        padding: 10px;
    }
</style>
<div>
    <a ui-sref="apuntes" class="pull-right btn btn-primary btn-outline btn-rounded">Volver a inicio</a>
    <h1>Apuntes <small>Subir</small></h1>

</div>
<div class="jumbotron">
    <div class="container">
        <form name="apunteForm">
            <md-input-container flex="">
                <label>Nombre del archivo</label>
                <input ng-model="apunte.titulo" placeholder="Nombre" required>
            </md-input-container>
            <md-input-container flex="">
                <label>Descripción</label>
                <textarea ng-model="apunte.descripcion" columns="1" md-maxlength="250" required></textarea>
            </md-input-container>
            <md-input-container flex="">
                <label>Carrera</label>
                <input type="text" data-ng-model="apunte.carrera" list="carrerastitle" required>
                <datalist id="carrerastitle">
                    <option  data-ng-repeat="crr in carreras" value="{{crr}}"> 
                </datalist>
            </md-input-container>
            <md-input-container flex="">
                <label>Curso</label>
                <input type="text" data-ng-model="apunte.curso" list="cursostitle" required ng-click="obtenerCursosCarrera(apunte.carrera)">
                <datalist id="cursostitle">
                    <option  data-ng-repeat="crs in cursos" value="{{crs}}"> 
                </datalist>
            </md-input-container>
            <md-input-container flex="">
                <label>Asignatura</label>
                <input type="text" data-ng-model="apunte.asignatura" list="asignaturastitle" required ng-click="obtenerAsignaturaCarrera(apunte.carrera, apunte.curso)">
                <datalist id="asignaturastitle">
                    <option  data-ng-repeat="asg in asignaturas" value="{{asg}}"> 
                </datalist>
            </md-input-container>
            <md-input-container flex="">
                <label>Link de descarga</label>
                <input ng-model="apunte.urlDescarga" placeholder="URL de descarga" required>
            </md-input-container>
            <h4 class="pull-right"><small>Creado por {{apunte.idUsuario = idUsuario}}</small></h4>
            <button type="submit" class="btn btn-success btn-lg btn-rounded" ng-disabled="(!apunteForm.$valid)" ng-click="submitApunte()">Crear</button>
        </form>
    </div>
</div>