<div>
    <h1>Apuntes <small>Inicio</small></h1>
    <div class="jumbotron">
        <div class="container">
            <h1>¡Apuntes!</h1>
            <p>No dudes en colaborar, siempre has querido tener apuntes de una asignatura que no ha sido fácil conseguirla o algún examen... Para que te ayuden a conseguirlo tú también tienes que ayudar a los demás. Con esta plataforma te lo ponemos fácil, oranizando los apuntes por carrera y asignatúra.</p>
            <h3>Te damos las siguientes facilidades:</h3>
            <br />
            <a ui-sref="noticiasTodas" class="btn btn-primary btn-lg btn-outline btn-rounded">Buscar apuntes</a>
            <a ui-sref="noticiasNueva" class="btn btn-primary btn-lg btn-outline btn-rounded">Subir</a>
            <a ui-sref="noticiasMias" class="btn btn-primary btn-lg btn-outline btn-rounded">Tus apuntes</a>
            <br /><br />
            <p>Seguro que tienes algo interesante para compartir con nosotros.</p>
        </div>
    </div>
</div>
