<div>
    <h1>Noticias <small>Inicio</small></h1>
    <div class="jumbotron">
        <div class="container">
            <h1>¡Noticias!</h1>
            <p>No dudes en colaborar, informar y estar informado es una base de la educación. Aquí podrás compartir noticias de todo tipo, de la universidad, tu carrera, deporte, politica y un largo etc.</p>
            <h3>Te damos las siguientes facilidades:</h3>
            <br />
            <a ui-sref="noticiasTodas" class="btn btn-primary btn-lg btn-outline btn-rounded">Todas noticias</a>
            <a ui-sref="noticiasNueva" class="btn btn-primary btn-lg btn-outline btn-rounded">Crear</a>
            <a ui-sref="noticiasMias" class="btn btn-primary btn-lg btn-outline btn-rounded">Tus noticias</a>
            <br /><br />
            <p>Seguro que tienes algo interesante para compartir con nosotros.</p>
        </div>
    </div>
</div>
