<div>
    <a ui-sref="noticias" class="pull-right btn btn-primary btn-outline btn-rounded">Volver a inicio</a>
    <h1>Noticias <small>Mis noticia</small></h1>

</div>
<div class="jumbotron">
    <div class="container">
        <div class="table-responsive-vertical shadow-z-1">
            <!-- Table starts here -->
            <table id="table" class="table table-hover table-mc-light-blue">
                <thead>
                    <tr>
                        <th>Título</th>
                        <th>Imagen</th>
                        <th>Operaciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="item in noticias">
                        <td data-title="Título">{{item.titulo}}</td>
                        <td data-title="Imagen"><img ng-src="{{item.baseIMG}}" style="width: 60px;" class="md-avatar img-responsive" alt="Imagen noticia {{item.id}}"></td>
                        <td data-title="Operaciones" class="text-center">
                            <a ng-href="./cliente.html#/colaborativa/noticiasEditar/{{item.id}}"><ng-md-icon icon="edit" style="fill: #3ca2e0;" size="20"></ng-md-icon> </a>
                            <a ng-click="borrarNoticias(item)"><ng-md-icon icon="delete" style="fill: #3ca2e0;" size="20"></ng-md-icon> </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
