<div>
    <a ui-sref="noticias" class="pull-right btn btn-primary btn-outline btn-rounded">Volver a inicio</a>
    <h1>Noticias <small>Todas las noticias</small></h1>

</div>
<md-list>
    <md-list-item class="md-3-line" ng-repeat="item in todos">
        <div class="jumbotron">
            <div class="container">
                <img ng-src="{{item.baseIMG}}" class="md-avatar img-responsive" alt="Imagen noticia {{item.id}}">
                <h3>{{ item.titulo}}</h3>
                <p ng-if="item.descripcion.length > 100">{{ item.descripcion.substr(0, 100) + "..."}}</p>
                <p ng-if="item.descripcion.length<=100">{{ item.descripcion}}</p>
                <br />
                <h4 class="pull-right"><small>Creador: {{item.propietario}}</small></h4>
                <a ng-href="./cliente.html#/colaborativa/noticia/{{item.id}}" class="btn btn-primary btn-lg btn-outline btn-rounded">Ver noticia</a>
            </div>
        </div>
    </md-list-item>
</md-list>
<div class="text-center">
    <div ng-click="cambioPagina()" paging
         page="currentPage" 
         page-size="pageSize" 
         total="total">
    </div>
</div>

